.messageList {
    display: flex;
    flex-direction: column;
    min-width: 600px;
    background: #ffffff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.04204);
    max-width: 1200px;
    height: 90vh;
    width: 100%;
    overflow-y: auto;
    padding: 10px 0;

    &::-webkit-scrollbar {
        display: none;
    }
}
