.modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #25252512;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #706f6f;
    .modalContainer {
        background: #ffffff;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
        border-radius: 3px;
        width: 300px;
        height: 200px;
        padding: 5px;
        text-align: center;

        div {
            margin-bottom: 5px;
        }

        textarea {
            display: block;
            margin: auto;
            color: #706f6f;
            outline: none;
            width: 100%;
            height: 70%;
            border: 1px solid #bcaaaa;
            box-sizing: border-box;
            resize: none;
            border-radius: 4px;
        }

        .cancel,
        .save {
            margin: 5px 5px;
            width: 45%;
            height: 18%;
            border: none;
            border-radius: 4px;
            outline: none;
            cursor: pointer;
        }

        .cancel {
            background-color: inherit;
            border: 1px solid #bcaaaa;
            opacity: 0.8;
        }
        .save {
            margin-left: 15px;
            background-color: #4ca5ff;
            color: #ffffff;
        }
    }
}
