.header {
    width: 100%;
    height: 50px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.04204);
    margin-bottom: 20px;

    .headerContainer {
        max-width: 1200px;
        min-width: 600px;
        margin: auto;
        opacity: 0.9;

        a {
            color: #202020;
            text-decoration: none;
            display: flex;
            align-items: center;

            span {
                font-size: 50px;
                text-transform: uppercase;
                margin-left: 10px;
            }
        }
    }
}
